* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 
  
.navbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #163abd; 
  color: white; 
  padding: 15px 20px; 
  position: relative; 
} 
 
.logo { 
  font-size: 1.5rem; 
  font-weight: bold; 
} 
 
.nav-links { 
  display: flex; 
  list-style: none; 
} 
 
.nav-links li { 
  margin: 0 15px; 
} 
 
.nav-links a { 
  text-decoration: none; 
  color: rgb(255, 255, 255); 
  font-size: 1rem; 
} 
 
.actions a { 
  margin-left: 15px; 
  color: rgb(248, 248, 248); 
  text-decoration: none; 
  font-weight: bold; 
} 
 
.hamburger { 
  display: none; 
  font-size: 2rem; 
  cursor: pointer; 
} 
 
#menu-toggle { 
  display: none; 
} 
 
@media (max-width: 768px) { 
  .nav-links { 
    display: none; 
    position: absolute; 
    top: 60px; 
    left: 0; 
    right: 0; 
    flex-direction: column; 
    background-color: #5c636f; 
    padding: 15px 0; 
  } 
 
  .nav-links li { 
    margin: 10px 0; 
    text-align: center; 
  } 
 
  .hamburger { 
    display: block; 
  } 
 
  #menu-toggle:checked + .hamburger + .nav-links { 
    display: flex; 
  } 
} 
 
