body {
  background-color: #e9e9e9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  color: black;
}

.product-card {
  width: 300px;
  background-color: white;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.product-image {
  width: 100%;
  height: 200px;       
  object-fit: cover;   
  border-radius: 5px;  
}
.product-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.product-desc {
  font-size: 14px;
  margin: 10px 0;
  color: #555;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: rgb(64, 170, 7);
  margin: 10px 0;
}

.btn {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: darkblue;
}